<template>
  <!-- <div>
    <form class="m-1" @submit.prevent="searchProducts">
      <b-form-group label="은행명" label-for="bank" label-cols-md="auto" class="mb-3">
        <b-form-select id="bank" v-model="bank" :options="banks"></b-form-select>
      </b-form-group> -->

      <!-- 저축 금액, 저축 기간,   -->
      <!-- <b-form-group label="은행명" label-for="bank" label-cols-md="auto" class="mb-3">
        <b-form-select id="bank" v-model="bank" :options="banks"></b-form-select>
      </b-form-group> -->



      
      <!-- <button type="submit" class="btn btn-primary">조회</button>
    </form>
  </div> -->



  <div class="wrap">
    <div id="container" class="saving_main">
      <!-- 좌측 검색필터 -->
        <div class="left_menu">
            <div class="left_wrap fixed shadow">
                <p class="tit">
                    <strong>정기예금</strong><br>
                    검색조건을 입력해주세요
                </p>

                <div class="filters cs_scroll">
                    <div class="left_menu_inner">
                        <!-- 1. 예치금액 -->
                        <div class=" amount_area">
                            <label class="input_label"><span class="txt">예치금액</span></label>
                            <div class="input_box">
                                <input class="min amount" name="amount" maxlength="10">
                            </div>
                        </div>
 
                        <!-- 2. 예치기간 -->
                        <div class="input_group all period">
                            <label class="input_label">예치기간</label>
                            <div class="input_box">
                                <select class="min select" name="term">
                                    <option value="6">6개월</option>
                                    <option value="12" selected="">12개월</option>
                                    <option value="24">24개월</option>
                                    <option value="36">36개월</option>
                                </select>
                            </div>
                        </div>


                        <!-- 3. 이자율 -->
                        <div class=" amount_area">
                            <label class="input_label"><span class="txt">이자율</span></label>
                            <div class="input_box">
                                <input class="min interest" name="interest" maxlength="10">
                            </div>
                        </div>
                        
                        <!-- 4. 이자지급방식 -->
                        <div class="input_group all deposit_only" style="display: block;">
                            <label class="input_label">이자지급방식</label>
                            <div class="input_box">
                                <select class="min select" name="payment_term">
                                    <option value="W">전체</option>
                                    <option value="simple">단리</option>
                                    <option value="compound">복리</option>
                                </select>
                            </div>
                        </div>

                        <!-- 5. 지역 -->
                        <div class="input_group all">
                            <label class="input_label">지역</label>
                            <div class="input_box">
                                <select class="min select" id="sidoSelect" name="region_sido">
                                <option value="00">전체</option><option value="11">서울</option><option value="21">부산</option><option value="22">대구</option><option value="23">인천</option><option value="24">광주</option><option value="25">대전</option><option value="26">울산</option><option value="29">세종</option><option value="31">경기도</option><option value="32">강원도</option><option value="33">충청북도</option><option value="34">충청남도</option><option value="35">전라북도</option><option value="36">전라남도</option><option value="37">경상북도</option><option value="38">경상남도</option><option value="39">제주</option></select>
                            </div>
                            <div class="input_box">
                                <select class="min select " id="sigunguSelect" name="region_sigungu"><option value="000">전체</option><option value="230">강남구</option><option value="250">강동구</option><option value="090">강북구</option><option value="160">강서구</option><option value="210">관악구</option><option value="050">광진구</option><option value="170">구로구</option><option value="180">금천구</option><option value="110">노원구</option><option value="100">도봉구</option><option value="060">동대문구</option><option value="200">동작구</option><option value="140">마포구</option><option value="130">서대문구</option><option value="220">서초구</option><option value="040">성동구</option><option value="080">성북구</option><option value="240">송파구</option><option value="150">양천구</option><option value="190">영등포구</option><option value="030">용산구</option><option value="120">은평구</option><option value="010">종로구</option><option value="020">중구</option><option value="070">중랑구</option></select>
                            </div>

                        <!-- 6. 은행명 -->
                        <b-form-group label="은행명" label-for="bank" label-cols-md="auto" class="mb-3">
                          <b-form-select id="bank" v-model="bank" :options="banks"></b-form-select>
                        </b-form-group>  

                        <!-- 7. 가입방식 -->
                        <div class="input_group all">
                            <label class="input_label">가입방식</label>
                            <div class="input_box">
                                <select class="min select" name="join_channel">
                                    <option value="W">전체</option>
                                    <option value="on">온라인</option>
                                    <option value="off">방문</option>
                                </select>
                            </div>
                        </div>



                        <!-- 확인 / 초기화  -->
                        <div class="btn_wrap">
                            <button class="mi_btn color" id="goNext">검색</button>
                            <button class="btn_reset">초기화</button>
                        </div>
                        </div>


                     
                        
                    </div>
                </div>

            </div>
        </div>

                      <!-- 세율 -->
                        <!-- <div class="input_group all">
                            <label class="input_label">세율 <span class="btn_question" data-case="00"></span></label>
                            <div class="input_box">
                                <select class="min select" name="tax">
                                    <option value="G">일반과세(15.4%)</option>
                                    <option value="B">세금우대(1.4%)</option>
                                    <option value="C">비과세(0%)</option>
                                </select>
                            </div>
                        </div> -->




        <!-- <div class="right_contents">
            <form>
                <input type="hidden" name="_csrf_header" value="X-XSRF-TOKEN">
                <input type="hidden" name="_csrf" value="b84f88d3-0bcd-4464-aaa2-f06dce766a79">
                <input type="hidden" name="pageType" value="deposit">
            </form>
            <ul class="title">
                <li class="deposit on"><a href="/deposit">정기예금</a></li>
                <li class="saving"><a href="/saving">정기적금</a></li>
                <li class="free_saving"><a href="/free_saving">자유적금</a></li>
            </ul>

            <div class="tab_filter">
                <div>
                    <input id="finCate1" type="radio" checked="" name="fin_cate" value="00">
                    <label for="finCate1">전체</label>
                </div>
                <div>
                    <input id="finCate2" type="radio" name="fin_cate" value="04">
                    <label for="finCate2" class="img_label"><img src="/images/fin_ci/bank_048.png" width="24px">신협</label>
                </div>
                <div>
                    <input id="finCate3" type="radio" name="fin_cate" value="03">
                    <label for="finCate3" class="img_label"><img src="/images/fin_ci/bank_045.png" width="24px"> 새마을금고</label>
                </div>
                <div>
                    <input id="finCate4" type="radio" name="fin_cate" value="02">
                    <label for="finCate4" class="img_label"><img src="/images/fin_ci/bank_012.png" width="24px"> 농/축협</label>
                </div>
                <div>
                    <input id="finCate5" type="radio" name="fin_cate" value="05">
                    <label for="finCate5">저축은행</label>
                </div>
                <div>
                    <input id="finCate6" type="radio" name="fin_cate" value="01">
                    <label for="finCate6">은행</label>
                </div>
            </div>

            
            여기 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            <div class="contents_main">
                <div class="fix_header show">
                    <table class="main_table">
                        <colgroup>
                            <col width="60px">
                            <col width="65px">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="145px">
                            <col width="100px">
                            <col width="">
                        </colgroup>
                        <thead><th scope="col" style="width: 60px;">순위</th><th scope="col" data-option="6" class="term_6 term gray" style="width: 65px;">6개월</th><th scope="col" data-option="12" class="term_12 term active" style="width: 88px;">12개월</th><th class="active" style="width: 111px;">세전이자</th><th class="active" style="width: 129px;">세후이자</th><th scope="col" data-option="24" class="term_24 term gray" style="width: 67px;">24개월</th><th data-option="36" class="term_36 term gray" style="width: 67px;">36개월</th><th scope="col" style="width: 145px;">금융기관</th><th scope="col" style="width: 124px;">상품</th><th scope="col" style="width: 91px;">UPDATE</th></thead>
                    </table>
                </div>

                <table class="main_table content">
                    <colgroup>
                        <col width="60px">
                        <col width="65px">
                        <col width="">
                        <col width="">
                        <col width="">
                        <col width="">
                        <col width="">
                        <col width="145px">
                        <col width="100px">
                        <col width="">
                    </colgroup>
                    <thead><th scope="col" style="width: 60px;">순위</th><th scope="col" data-option="6" class="term_6 term gray" style="width: 65px;">6개월</th><th scope="col" data-option="12" class="term_12 term active" style="width: 88px;">12개월</th><th class="active" style="width: 111px;">세전이자</th><th class="active" style="width: 129px;">세후이자</th><th scope="col" data-option="24" class="term_24 term gray" style="width: 67px;">24개월</th><th data-option="36" class="term_36 term gray" style="width: 67px;">36개월</th><th scope="col" style="width: 145px;">금융기관</th><th scope="col" style="width: 124px;">상품</th><th scope="col" style="width: 91px;">UPDATE</th></thead>
                </table>
                <div class="lazy_loader" style="display: none;">
                    <span class="hide">27,008건의 데이터를 검색중입니다</span>
                </div>
                <div class="no_result" style="display: none;">
                    검색 결과가 없습니다<br>
                    <span>조건변경 후 다시 검색</span>해주세요
                </div>
            </div>
        </div>
    </div>
    <button class="to_top" style="display: inline-block; bottom: 90px;"></button> -->
  </div>
</div>
</template>

<script>
export default {
  name: 'SavingProductSearchInput',
  data() {
    return {
      bank: '전체',
      banks: [
          '전체',
          '우리은행',
          '한국스탠다드차타드은행',
          '대구은행',
          '부산은행',
          '광주은행',
          '제주은행',
          '전북은행',
          '경남은행',
          '중소기업은행',
          '한국산업은행',
          '국민은행',
          '신한은행',
          '농협은행주식회사',
          '하나은행',
          '주식회사 케이뱅크',
          '수협은행',
          '주식회사 카카오뱅크',
          '토스뱅크 주식회사',
        ],
    }
  },
  methods: {
    searchProducts() {
      this.$emit('search-bank', this.bank)
    }
  }
}
</script>

<style scoped>

.input_group {
  display: flex;
}

.input_group.all {
  display: block;
}

/* 화면에 보여지는 영역 */
#container {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 1200px;
  margin: 0 auto;
}

#container > div {
  float: left;
}

#container .left_menu {
  width: 213px;
  min-height: -moz-calc( 100vh - 220px);
  min-height: calc( 100vh - 220px);
}

/* .saving_main .left_wrap {
  padding-top: 39px;
} */



</style>

