body {
    min-height: 100%;
  }
  
  #container {
    padding-top: 90px;
    width: 1200px;
    margin: 0 auto;
  }
  
  #container > div {
    float: left;
  }
  
  #container .left_menu {
    width: 213px;
    min-height: -moz-calc( 100vh - 220px);
    min-height: calc( 100vh - 220px);
  }
  
  #container .right_contents {
    width: 986px;
    padding-left: 38px;
    /* border-left: 1px solid #ddd; */
    padding-top: 50px;
    padding-bottom: 90px;
    min-height: -moz-calc( 100vh - 170px);
    min-height: calc( 100vh - 170px);
  }
  
  .mi_scroll_none {
    overflow: hidden;
  }
  
  .lnb_wrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    z-index: 999;
  }
  
  .lnb_wrap .btn_lnb {
    position: absolute;
    top: 13px;
    right: 8px;
    width: 38px;
    height: 38px;
    /* background: url("/images/common/btn_lnb_open.png") no-repeat center/22px auto; */
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  
  .lnb_wrap .btn_lnb.bk {
    /* background-image: url("/images/common/btn_lnb_open_bk.png"); */
  }
  
  .lnb_wrap .inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .lnb_wrap .lnb {
    width: 300px;
  }
  
  @media (max-width: 374px) {
    .mobile .lnb_wrap .lnb {
      width: 233px;
    }
  }
  
  .lnb_wrap .lnb h1 {
    padding: 30px 20px;
    background-color: #588db5;
    text-align: right;
  }
  
  .lnb_wrap .lnb h1 .logo {
    display: inline-block;
    width: 100px;
    height: 46px;
    /* background: url("/images/common/logo_lnb.png") no-repeat center/100px auto; */
    vertical-align: middle;
  }
  
  .lnb_wrap .lnb nav {
    padding: 14px 0;
    background-color: #fff;
    text-align: right;
    letter-spacing: -0.41px;
  }
  
  .lnb_wrap .lnb nav a {
    display: block;
    padding: 17px 25px;
    font-size: 18px;
    color: #555;
    line-height: 1;
  }
  
  .lnb_wrap .lnb nav a:hover, .lnb_wrap .lnb nav a:focus {
    color: #aaa;
  }
  
  .lnb_wrap .lnb nav a.active {
    color: #588db5;
  }
  
  .lnb_wrap.active {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .lnb_wrap.active .btn_lnb {
    right: 250px;
    /* background: url("/images/common/btn_lnb_close.png") no-repeat center/15px auto; */
  }
  
  @media (max-width: 374px) {
    .mobile .lnb_wrap.active .btn_lnb {
      right: 180px;
    }
  }
  
  .lnb_wrap.active .inner {
    width: 300px;
  }
  
  @media (max-width: 374px) {
    .mobile .lnb_wrap.active .inner {
      width: 233px;
    }
  }
  
  .app .lnb_wrap {
    display: none;
  }
  
  .c__point {
    color: #588db5 !important;
  }
  
  .c__blue {
    color: #0057c9 !important;
  }
  
  .c__red {
    color: #de4343 !important;
  }
  
  .t__bold {
    font-weight: bold !important;
  }
  
  .t__center {
    text-align: center !important;
  }
  
  .t__left {
    text-align: left !important;
  }
  
  .t__right {
    text-align: right !important;
  }
  
  .t__underline {
    text-decoration: underline !important;
  }
  
  .t__hidden {
    overflow: hidden;
    border: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
  }
  
  .f__right {
    float: right !important;
  }
  
  .f__box {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .f__box.col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .f__item {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  
  .el_hidden {
    display: none !important;
  }
  
  .hide {
    display: none;
  }
  
  .w__full {
    width: 100% !important;
  }
  
  .w__80 {
    width: 80px !important;
  }
  
  .w__120 {
    width: 120px !important;
  }
  
  .header_title {
    font-size: 19px;
    color: #fff;
    position: relative;
    height: 64px;
    line-height: 64px;
    background-color: #588db5;
    z-index: 89;
    text-align: center;
  }
  
  .mobile .header_title {
    display: block;
    position: sticky;
    top: 0;
  }
  
  .mobile .header_title.shadow {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .app .header_title {
    display: none;
  }
  
  .header_title.wh {
    background-color: #fff;
  }
  
  .desktop .header_title.wh {
    display: none;
  }
  
  .header_title .btn_qna {
    position: absolute;
    width: 42px;
    height: 38px;
    top: 15px;
    right: 8px;
    display: inline-block;
    /* background: url("/images/btn_qna.png") no-repeat center/contain; */
  }
  
  .header_tab {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 42px;
    padding: 0 8px;
    background-color: #588db5;
    z-index: 88;
  }
  
  .header_tab a {
    font-size: 16px;
    color: #fff;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    line-height: 42px;
    text-align: center;
    opacity: 0.75;
  }
  
  .header_tab a.active {
    background: #fff;
    -moz-border-radius: 3px 3px 0 0;
         border-radius: 3px 3px 0 0;
    color: #262626;
    opacity: 1;
    pointer-events: none;
    font-size: 16px;
  }
  
  .mobile .header_tab {
    position: sticky;
    top: 64px;
  }
  
  .mobile .header_tab.shadow {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .app .header_tab {
    top: 0;
  }
  
  .error_msg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding-top: 82px;
    /* background: url("/images/common/bg_error.png") no-repeat center top/64px auto; */
    text-align: center;
    -webkit-transform: translate(0, -65%);
       -moz-transform: translate(0, -65%);
        -ms-transform: translate(0, -65%);
            transform: translate(0, -65%);
  }
  
  .error_msg p {
    font-size: 14px;
    color: #555;
  }
  
  .error_msg p + p {
    margin-top: 15px;
  }
  
  .error_msg .sub {
    font-size: 12px;
    color: #555;
  }
  
  .mi_btn {
    height: 50px;
    line-height: 48px;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
         border-radius: 3px;
    font-size: 17px;
    color: #777;
    text-align: center;
  }
  
  .mi_btn:disabled {
    background-color: #f9f9f9;
    border-color: #ddd;
    color: #aaa;
  }
  
  .mi_btn.color {
    background-color: #588db5;
    border-color: #588db5;
    color: #fff;
  }
  
  .mi_btn.color.disabled, .mi_btn.color:disabled {
    background-color: #d8dee8;
    border-color: #d8dee8;
    color: #fff;
  }
  
  .mi_btn.color.disabled.on, .mi_btn.color:disabled.on {
    position: relative;
    color: #d8dee8 !important;
  }
  
  .mi_btn.color.disabled.on::after, .mi_btn.color:disabled.on::after {
    content: '';
    position: absolute;
    top: -moz-calc(50% - 15px);
    top: calc(50% - 15px);
    left: -moz-calc(50% - 15px);
    left: calc(50% - 15px);
    width: 24px;
    height: 24px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    -moz-border-radius: 50%;
         border-radius: 50%;
    border-top-color: #588db5;
    -webkit-animation: spin 1s ease-in-out infinite;
       -moz-animation: spin 1s ease-in-out infinite;
            animation: spin 1s ease-in-out infinite;
  }
  
  .mi_btn.white {
    border-color: #588db5;
    color: #588db5;
  }
  
  .mi_btn.white.type2 {
    border-color: #abc3e2;
  }
  
  .mi_btn.white:disabled {
    color: #aaa !important;
    background-color: #fafafa;
    border-color: #ddd;
  }
  
  .mi_btn.sm {
    height: 23px;
    line-height: 21px;
    width: auto;
    font-size: 13px;
    padding: 0 10px;
  }
  
  .mi_btn.btn_complete:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 100%;
    /* background: url("/images/components/ico_btn_complete.png") no-repeat left center/14px auto; */
    vertical-align: top;
    margin-right: 8px;
  }
  
  .mi_btn.btn_download:after {
    content: '';
    display: inline-block;
    width: 23px;
    height: 100%;
    /* background: url("/images/components/ico_btn_download.png") no-repeat left center/23px auto; */
    vertical-align: top;
    margin-left: 8px;
  }
  
  .mi_btn.btn_add:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 100%;
    /* background: url("/images/components/ico_btn_add.png") no-repeat left center/13px auto; */
    vertical-align: top;
    margin-right: 8px;
  }
  
  .btn_wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .btn_wrap .mi_btn {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .btn_wrap .mi_btn + .mi_btn {
    margin-left: 10px;
  }
  
  .btn_wrap.row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .btn_wrap.row .mi_btn {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  
  .btn_wrap.row .mi_btn + .mi_btn {
    margin-left: 0;
    margin-top: 10px;
  }
  
  /* icon button */
  .btn_qmark {
    width: 30px;
    height: 30px;
    /* background: url("/images/components/ico_btn_qmark.png") no-repeat center/16px auto; */
  }
  
  .btn_emark {
    width: 30px;
    height: 30px;
    /* background: url("/images/components/ico_btn_emark.png") no-repeat center/16px auto; */
  }
  
  .btn_search {
    width: 30px;
    height: 30px;
    /* background: url("/images/components/ico_btn_search.png") no-repeat center/26px auto; */
  }
  
  .mi_input {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    height: 44px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #bfcad9;
    -moz-border-radius: 3px;
         border-radius: 3px;
    font-size: 15px;
    color: #262626;
  }
  
  @media (max-width: 413px) {
    .mobile .mi_input {
      padding: 0 8px;
    }
  }
  
  .mi_input.select {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 26px;
    /* background: #fff url("/images/components/ico_select.png") no-repeat right 0 center/26px auto; */
  }
  
  .mi_input.select.init {
    color: #b6b6b6;
  }
  
  .mi_input.select.init option {
    color: #262626;
  }
  
  .mi_input.select::-ms-expand {
    display: none;
  }
  
  .mi_input.select::-ms-value {
    background-color: transparent;
    color: #262626;
  }
  
  .mi_input.select:not(:disabled):not(.disabled) {
    cursor: default;
  }
  
  .mi_input.search {
    -moz-border-radius: 0;
         border-radius: 0;
    border-width: 0 0 1px 0;
  }
  
  .mi_input.search:focus {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  
  .mi_input.search:focus + .btn_search {
    border-bottom: 1px solid #588db5;
  }
  
  .mi_input.search + .btn_search {
    height: 44px;
    width: 44px;
    border-bottom: 1px solid #ddd;
  }
  
  .mi_input.datepicker {
    /* background: url("/images/components/ico_datepicker.png") no-repeat center right 14px/19px auto; */
  }
  
  @media (max-width: 359px) {
    .mobile .mi_input.datepicker {
      background-position: center right 11px;
    }
  }
  
  .mi_input.datepicker:not(:disabled) {
    cursor: pointer;
  }
  
  .mi_input:not([readonly]):focus, .mi_input:not([readonly]):focus-within {
    border-color: #588db5;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
       -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
  
  .mi_input:-moz-focusring {
    color: transparent;
    outline: none;
    text-shadow: 0 0 0 #000;
  }
  
  .mi_input::-webkit-input-placeholder {
    color: #b6b6b6;
    opacity: 1;
  }
  
  .mi_input:-moz-placeholder {
    color: #b6b6b6;
    opacity: 1;
  }
  
  .mi_input::-moz-placeholder {
    color: #b6b6b6;
    opacity: 1;
  }
  
  .mi_input:-ms-input-placeholder {
    color: #b6b6b6;
    opacity: 1;
  }
  
  .mi_input::-ms-input-placeholder {
    color: #b6b6b6;
    opacity: 1;
  }
  
  .mi_input::placeholder {
    color: #b6b6b6;
    opacity: 1;
  }
  
  .mi_input:disabled, .mi_input.disabled {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #f9f9f9;
    opacity: 1;
  }
  
  .input_group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .input_group + .input_group {
    margin-top: 20px;
  }
  
  .input_group.full {
    display: block;
  }
  
  .input_group.full .input_label {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    padding: 0;
    font-size: 13px;
    color: #777;
  }
  
  .input_group.col2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .input_group.col2 .input_box {
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 5px);
            flex: 0 0 calc(50% - 5px);
    -ms-flex-preferred-size: calc(50% - 5px);
        flex-basis: -moz-calc(50% - 5px);
        flex-basis: calc(50% - 5px);
  }
  
  .input_group.col2 .input_box:nth-child(n + 3) {
    margin-top: 17px;
  }
  
  .input_group.col2 .input_box:nth-child(2n - 1) {
    margin-right: 10px;
  }
  
  .input_label {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 95px;
    padding-top: 10px;
    font-size: 15px;
  }
  
  .input_label.sub {
    padding-top: 0;
  }
  
  .input_label.sub em {
    display: block;
    font-size: 13px;
    color: #999;
  }
  
  @media (max-width: 374px) {
    .mobile .input_label {
      width: 77px;
      font-size: 15px;
    }
  }
  
  @media (max-width: 359px) {
    .mobile .input_label {
      width: 77px;
      font-size: 14px;
    }
  }
  
  .input_box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .input_box.hide {
    display: none;
  }
  
  .input_box.email .f__item {
    width: -moz-calc((100% - 16px) / 2);
    width: calc((100% - 16px) / 2);
  }
  
  .input_box .mi_input + .mi_btn {
    margin-left: 10px;
  }
  
  .input_box .mi_btn {
    height: 44px;
    line-height: 42px;
    font-size: 14px;
  }
  
  .input_box .mi_btn + .mi_input {
    margin-left: 10px;
  }
  
  .input_box .check_group {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .input_box .check_group:last-child:not(:first-child) {
    margin-left: 10px;
  }
  
  .input_box .mi_check {
    padding: 8px !important;
  }
  
  .input_box .ma_b {
    margin-bottom: 10px;
  }
  
  .input_connect {
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16px;
    text-align: center;
    line-height: 44px;
  }
  
  .input_connect.at {
    font-size: 13px;
  }
  
  .input_noti {
    font-size: 13px;
    color: #777;
    width: 100%;
    margin-top: 10px;
    word-break: keep-all;
  }
  
  .input_noti.bullet {
    padding-left: 8px;
    text-indent: -8px;
  }
  
  .mi_check {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  
  .mi_check.col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .mi_check:not(.disabled) {
    cursor: pointer;
  }
  
  .mi_check + .mi_check {
    margin-left: 8px;
  }
  
  .mi_check input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
  }
  
  .mi_check input:disabled ~ .text {
    color: #ddd;
  }
  
  .mi_check input:checked ~ .ico_circle {
    background-color: #588db5;
    /* background-image: url("/images/components/ico_circle_on.png"); */
    border-color: #588db5;
  }
  
  .mi_check input:checked ~ .ico_check {
    /* background-image: url("/images/components/ico_check_on.png"); */
  }
  
  .mi_check input:checked ~ .text {
    color: #588db5;
  }
  
  .mi_check .ico_circle, .mi_check .ico_check {
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: top;
  }
  
  .mi_check .ico_circle + .text, .mi_check .ico_check + .text {
    margin-left: 6px;
  }
  
  .mi_check .ico_circle {
    /* background: #fff url("/images/components/ico_circle.png") no-repeat center/12px auto; */
    border: 1px solid #ccc;
    -moz-border-radius: 50%;
         border-radius: 50%;
  }
  
  .mi_check .ico_check {
    /* background: url("/images/components/ico_check.png") no-repeat center/12px auto; */
    border: none;
  }
  
  .mi_check .text {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #999;
    line-height: 26px;
    word-break: break-all;
  }
  
  .mi_check .text + [class^="ico"] {
    margin-left: 6px;
  }
  
  .check_group.init .text {
    color: #333;
  }
  
  .check_group.row, .check_group.tab, .check_group.bar, .check_group.button, .check_group.confirm, .check_group.mi_button, .check_group.list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .check_group.row .mi_check, .check_group.tab .mi_check, .check_group.bar .mi_check, .check_group.button .mi_check, .check_group.confirm .mi_check, .check_group.mi_button .mi_check, .check_group.list .mi_check {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
  }
  
  .check_group.row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .check_group.row .mi_check + .mi_check {
    margin-top: 10px;
  }
  
  .check_group.tab .mi_check {
    height: 70px;
    margin: 10px 0 0 -1px;
    padding: 13px 15px;
    border: 1px solid #ddd;
    border-bottom-color: #588db5;
    background: #fafafa;
    font-size: 14px;
  }
  
  .check_group.tab .mi_check:first-child {
    margin-left: 0;
    -moz-border-radius-topleft: 4px;
         border-top-left-radius: 4px;
  }
  
  .check_group.tab .mi_check:last-child {
    -moz-border-radius-topright: 4px;
         border-top-right-radius: 4px;
  }
  
  .check_group.tab .mi_check.checked {
    height: 80px;
    margin-top: 0;
    background: #fff;
    border-color: #588db5;
    border-bottom: 0;
    -moz-border-radius: 4px 4px 0 0;
         border-radius: 4px 4px 0 0;
    z-index: 1;
  }
  
  .check_group.tab .ico_circle {
    position: absolute;
    top: 9px;
    right: 12px;
  }
  
  .check_group.bar .mi_check, .check_group.button .mi_check, .check_group.confirm .mi_check {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
         border-radius: 3px;
  }
  
  .check_group.bar .mi_check.checked, .check_group.button .mi_check.checked, .check_group.confirm .mi_check.checked {
    border-color: #588db5;
    color: #588db5;
    z-index: 1;
  }
  
  .check_group.bar .mi_check {
    margin-left: -1px;
    -moz-border-radius: 0;
         border-radius: 0;
    text-align: center;
  }
  
  .check_group.bar .mi_check:first-child {
    margin-left: 0;
    -moz-border-radius: 3px 0 0 3px;
         border-radius: 3px 0 0 3px;
  }
  
  .check_group.bar .mi_check:last-child {
    -moz-border-radius: 0 3px 3px 0;
         border-radius: 0 3px 3px 0;
  }
  
  .check_group.bar .mi_check.disabled {
    background: #f9f9f9;
  }
  
  .check_group.bar .mi_check.disabled.checked {
    border-color: #abc3e2;
  }
  
  .check_group.bar .mi_check.checked {
    background-color: #f4f7fb;
  }
  
  .check_group.button:not(.row) .mi_check + .mi_check, .check_group.confirm:not(.row) .mi_check + .mi_check, .check_group.mi_button:not(.row) .mi_check + .mi_check {
    margin-left: 10px;
  }
  
  .check_group.button .mi_check.disabled {
    background: #fafafa;
  }
  
  .check_group.button .mi_check.disabled .text {
    color: #999;
  }
  
  .check_group.confirm {
    text-align: center;
  }
  
  .check_group.confirm.init .mi_check:first-child .text {
    color: #555;
  }
  
  .check_group.confirm.init .mi_check:last-child {
    border-color: #cdcfd9;
  }
  
  .check_group.confirm.init .mi_check:last-child .text {
    color: #588db5;
  }
  
  .check_group.confirm .mi_check {
    padding: 6px;
  }
  
  .check_group.confirm .mi_check.checked {
    background-color: #f4f7fb;
  }
  
  .check_group.confirm .mi_check.checked .ico_check {
    display: inline-block;
    margin-left: -9px;
    /* background-image: url("/images/components/ico_check_confirm_on.png"); */
  }
  
  .check_group.confirm .ico_check {
    display: none;
  }
  
  .check_group.confirm .text {
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-left: 0;
    font-size: 14px;
  }
  
  .check_group.list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .check_group.list .mi_check {
    padding: 9px 8px 9px 10px;
  }
  
  .check_group.list .mi_check:hover {
    background-color: #f4f7fb;
  }
  
  .check_group.list .mi_check:hover .ico_check {
    /* background-image: url("/images/components/ico_check_list_on.png"); */
  }
  
  .check_group.list .mi_check input:checked ~ .ico_check {
    /* background-image: url("/images/components/ico_check_list_on.png"); */
  }
  
  .check_group.list .mi_check input:checked ~ .text {
    font-weight: bold;
    color: #588db5;
  }
  
  .check_group.list .mi_check + .mi_check {
    margin-top: 5px;
  }
  
  .check_group.list .ico_check {
    height: 22px;
    /* background-image: url("/images/components/ico_check_list.png"); */
  }
  
  .check_group.list .text {
    color: #262626;
    line-height: 22px;
  }
  
  .policy_wrap {
    padding: 30px 0 40px;
    border-top: 8px solid #efeff4;
  }
  
  .policy_header {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    color: #333;
  }
  
  .mobile .policy_header {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media (max-width: 413px) {
    .mobile .policy_header {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  
  @media (max-width: 374px) {
    .mobile .policy_header {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (max-width: 359px) {
    .mobile .policy_header {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  .policy_header .inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 9px;
    border-bottom: 1px solid #999;
  }
  
  .policy_header .policy_tit {
    font-weight: bold;
    line-height: 25px;
  }
  
  .policy_header .mi_check .ico_circle {
    width: 25px;
    height: 25px;
  }
  
  .policy_header .mi_check .text {
    color: #333 !important;
    line-height: 25px;
  }
  
  .policy_body {
    min-height: 130px;
    padding-top: 7px;
  }
  
  .policy_item_dp1 {
    margin-top: 8px;
  }
  
  .policy_item_dp1:last-child .dp1_body {
    margin-bottom: 0;
  }
  
  .policy_item_dp1 .dp1_header {
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .mobile .policy_item_dp1 .dp1_header {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media (max-width: 413px) {
    .mobile .policy_item_dp1 .dp1_header {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  
  @media (max-width: 374px) {
    .mobile .policy_item_dp1 .dp1_header {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (max-width: 359px) {
    .mobile .policy_item_dp1 .dp1_header {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  .policy_item_dp1 .dp1_header p {
    font-size: 14px;
    color: #777;
    padding: 3px 0;
    line-height: 20px;
  }
  
  .policy_item_dp1 .dp1_header .mi_check {
    margin-left: 13px;
  }
  
  .policy_item_dp1 .dp1_body {
    display: none;
    margin: 17px 0;
    padding: 20px 0;
    background-color: #f8f8f8;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .mobile .policy_item_dp1 .dp1_body {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media (max-width: 413px) {
    .mobile .policy_item_dp1 .dp1_body {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  
  @media (max-width: 374px) {
    .mobile .policy_item_dp1 .dp1_body {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (max-width: 359px) {
    .mobile .policy_item_dp1 .dp1_body {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  .policy_item_dp1 .dp1_body .btn_wrap {
    margin-top: 20px;
  }
  
  .policy_item_dp1 .dp1_body .btn_wrap .mi_btn {
    font-size: 15px;
  }
  
  .policy_item_dp1 .dp1_items .policy_docs {
    display: none;
    margin: 20px 0 40px;
  }
  
  .policy_item_dp2:last-child .btn_toggler {
    height: 44px;
    border-width: 0;
  }
  
  .policy_item_dp2:last-child .btn_toggler.open {
    height: 45px;
    border-width: 1px;
  }
  
  .policy_item_dp2 .btn_toggler {
    font-size: 15px;
    color: #333;
    position: relative;
    width: 100%;
    height: 45px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .policy_item_dp2 .btn_toggler::after {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    content: '';
    position: absolute;
    top: 50%;
    right: 9px;
    margin-top: -6px;
  }
  
  .policy_item_dp2 .btn_toggler.open {
    border-color: #999;
    font-weight: bold;
  }
  
  .policy_item_dp2 .btn_toggler.open::after {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    -webkit-transform: rotate(225deg);
       -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  
  .policy_docs {
    font-size: 14px;
    color: #777;
    padding: 0 9px;
  }
  
  .policy_docs *:first-child {
    margin-top: 0 !important;
  }
  
  .policy_docs h2 {
    font-size: 15px;
    color: #777;
    margin: 15px 0 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .policy_docs h2 + p {
    margin-top: 8px;
  }
  
  .policy_docs h3 {
    font-size: 14px;
    color: #777;
    margin-top: 24px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .policy_docs h3 + p {
    margin-top: 8px;
  }
  
  .policy_docs h4 {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
  }
  
  .policy_docs h4 + p {
    margin-top: 8px;
  }
  
  .policy_docs .h_square_wrap {
    padding-left: 20px;
    text-indent: -20px;
  }
  
  .policy_docs .h_square {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 1px;
    margin-right: 8px;
    border: 1px solid #262626;
  }
  
  .policy_docs .h_tri_wrap {
    padding-left: 16px;
    text-indent: -16px;
  }
  
  .policy_docs .h_tri {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 1px;
    margin-right: 4px;
    border: 5px solid transparent;
    border-left: 6px solid #262626;
  }
  
  .policy_docs p {
    margin-top: 20px;
  }
  
  .policy_docs ul[class^='list'] {
    margin-top: 20px;
  }
  
  .policy_docs ul[class^='list'] [class^='list'] {
    margin-top: 8px;
  }
  
  .policy_docs ul[class^='list'].single > li + li {
    margin-top: 20px;
  }
  
  .policy_docs ul[class^='list'] li + li {
    margin-top: 10px;
  }
  
  .policy_docs ul[class^='list'] li p {
    text-indent: 0;
  }
  
  .policy_docs .list1 li {
    padding-left: 16px;
    text-indent: -16px;
  }
  
  .policy_docs .list1_02 li {
    padding-left: 24px;
    text-indent: -24px;
  }
  
  .policy_docs .list2 li {
    padding-left: 17px;
    text-indent: -17px;
  }
  
  .policy_docs .list3 li {
    padding-left: 20px;
    text-indent: -20px;
  }
  
  .policy_docs .list4 li {
    padding-left: 9px;
    text-indent: -9px;
  }
  
  .ui-datepicker {
    text-align: center;
  }
  
  .ui-datepicker .ui-datepicker-header {
    font-size: 18px;
    color: #262626;
    font-weight: bold;
  }
  
  .ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-top: -4px;
    /* background: url("/images/ico_arrow_datepicker_on.png") no-repeat center/8px auto; */
    cursor: pointer;
  }
  
  .ui-datepicker .ui-datepicker-prev.ui-state-disabled,
  .ui-datepicker .ui-datepicker-next.ui-state-disabled {
    /* background-image: url("/images/ico_arrow_datepicker_off.png"); */
    cursor: default;
  }
  
  .ui-datepicker .ui-datepicker-prev {
    float: left;
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .ui-datepicker .ui-datepicker-prev.ui-state-disabled {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }
  
  .ui-datepicker .ui-datepicker-next {
    float: right;
  }
  
  .ui-datepicker .ui-datepicker-next.ui-state-disabled {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .ui-datepicker .ui-datepicker-calendar {
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  
  .ui-datepicker .ui-datepicker-calendar th {
    padding: 10px 0;
    font-size: 14px;
  }
  
  .ui-datepicker .ui-datepicker-calendar th:first-child,
  .ui-datepicker .ui-datepicker-calendar td:first-child {
    color: #db2b34;
  }
  
  .ui-datepicker .ui-datepicker-calendar th:last-child,
  .ui-datepicker .ui-datepicker-calendar td:last-child {
    color: #2761ad;
  }
  
  .ui-datepicker .ui-state-default {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-top: 1px;
    -moz-border-radius: 20px;
         border-radius: 20px;
    font-size: 15px;
    color: #b6b6b6;
    line-height: 36px;
    text-align: center;
  }
  
  .ui-datepicker a.ui-state-default {
    color: inherit;
  }
  
  .ui-datepicker .ui-state-active {
    background: #0057c9;
    color: #fff !important;
  }
  
  .cs_scroll {
    overflow-y: auto;
  }
  
  .cs_scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .cs_scroll::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  .cs_scroll::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 6px;
    border: 1px solid white;
  }
  
  .bg_tab_gradation {
    /* background: url("/images/bg_tab_gradation.png") repeat-x 0 top/auto 35px; */
  }
  
  .label_status {
    height: 20px;
    line-height: 18px;
    font-size: 12px;
    color: #588db5;
    display: inline-block;
    min-width: 63px;
    padding: 0 8px;
    border: 1px solid #eaf3ff;
    -moz-border-radius: 10px;
         border-radius: 10px;
    background-color: #eaf3ff;
    text-align: center;
  }
  
  .label_status.ready {
    background-color: #fff;
    color: #de4343;
    border-color: #de4343;
  }
  
  .label_status.re {
    background-color: #fff;
    color: #588db5;
    border-color: #588db5;
  }
  
  .label_status.end {
    background-color: #f1f1f1;
    color: #444;
  }
  
  .label_status.refund {
    background-color: #fff;
    border-color: #262626;
    color: #262626;
  }
  
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 99999;
  }
  
  .loader .inner {
    position: absolute;
    top: 32%;
    left: 50%;
    max-width: 180px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    color: #fff;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .loader .visual {
    width: 52px;
    margin: 44px auto 0;
  }
  
  .loader .visual span {
    display: inline-block;
    width: 7px;
    height: 29px;
    margin: 0 3px 0.6em;
    -webkit-animation: stretchDelay 1.38s infinite ease-in-out;
       -moz-animation: stretchDelay 1.38s infinite ease-in-out;
            animation: stretchDelay 1.38s infinite ease-in-out;
  }
  
  .loader .visual .rect2 {
    -webkit-animation-delay: -1.15s;
       -moz-animation-delay: -1.15s;
            animation-delay: -1.15s;
  }
  
  .loader .visual .rect3 {
    -webkit-animation-delay: -0.92s;
       -moz-animation-delay: -0.92s;
            animation-delay: -0.92s;
  }
  
  .loader .visual .rect4 {
    -webkit-animation-delay: -0.72s;
       -moz-animation-delay: -0.72s;
            animation-delay: -0.72s;
  }
  
  .btn_question {
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 15px;
    /* background: url("/images/ico_question.png") no-repeat center/contain; */
  }
  
  .shadow {
    position: relative;
  }
  
  .shadow:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.1)));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 80%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 80%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 80%);
  }
  
  .to_top {
    display: none;
    position: fixed;
    width: 39px;
    height: 39px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
       -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #999;
    /* background: url("../images/btn_totop.png") no-repeat center/23px, #fff; */
    -moz-border-radius: 50%;
         border-radius: 50%;
    right: -moz-calc( 50% - 680px);
    right: calc( 50% - 680px);
    bottom: 90px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  @media (max-width: 1360px) {
    .to_top {
      -moz-border-radius: 8px 0 0 8px;
           border-radius: 8px 0 0 8px;
      right: 0;
      width: 32px;
      border-right: none;
    }
  }
  
  .mi_pagination {
    margin: 20px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
  }
  
  .mi_pagination .page_prev,
  .mi_pagination .page_next,
  .mi_pagination .page_first,
  .mi_pagination .page_last {
    cursor: pointer;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-indent: -9999px;
    border: 1px solid #B6B6B6;
    display: inline-block;
    float: left;
  }
  
  .mi_pagination .page_prev,
  .mi_pagination .page_next {
    position: relative;
  }
  
  .mi_pagination .page_prev:after,
  .mi_pagination .page_next:after {
    content: "";
    width: 7px;
    height: 11px;
    position: absolute;
    top: -moz-calc( 50% - 5.5px);
    top: calc( 50% - 5.5px);
    left: -moz-calc( 50% - 3.5px);
    left: calc( 50% - 3.5px);
  }
  
  .mi_pagination .page_prev.disabled,
  .mi_pagination .page_next.disabled {
    opacity: 0.35;
  }
  
  .mi_pagination .page_next:after {
    /* background: url("../images/components/arrow_pager.png") no-repeat center/contain; */
  }
  
  .mi_pagination .page_prev {
    margin-right: 20px;
  }
  
  .mi_pagination .page_prev:after {
    /* background: url("../images/components/arrow_pager.png") no-repeat center/contain; */
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .mi_pagination ul {
    margin-right: 20px;
    float: left;
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .mi_pagination ul li {
    float: left;
    cursor: pointer;
    width: 32px;
    text-align: center;
    line-height: 32px;
    color: #777;
  }
  
  .mi_pagination ul li.on {
    color: #588db5;
    text-decoration: underline;
    font-weight: 900;
  }
  
  .saving_main .deposit_only,
  .saving_main .saving_only,
  .saving_main .free_saving_only {
    display: none;
  }
  
  .saving_main .lazy_loader {
    display: none;
    width: 100%;
    height: 150px;
    /* background: url("../images/loader.png") no-repeat center/32px; */
    text-align: center;
    color: #999999;
    font-size: 12px;
    padding-top: 104px;
  }
  
  .saving_main .no_result {
    display: none;
    padding: 70px 0;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
  }
  
  .saving_main .no_result span {
    color: #588db5;
  }
  
  .saving_main .btn_question {
    height: 23px;
    vertical-align: top;
    cursor: pointer;
  }
  
  .saving_main .filters {
    padding-right: 19px;
    padding-bottom: 30px;
    max-height: -moz-calc( 100vh - 341px);
    max-height: calc( 100vh - 341px);
  }
  
  .saving_main .title {
    overflow: hidden;
    text-align: center;
  }
  
  .saving_main .title li {
    display: inline-block;
    position: relative;
  }
  
  .saving_main .title li:first-child::after {
    width: 0;
  }
  
  .saving_main .title li:after {
    content: "";
    height: 18px;
    width: 1px;
    position: absolute;
    background-color: #cfd3d6;
    left: 0;
    bottom: 6px;
  }
  
  .saving_main .title li a {
    color: #999999;
    padding: 0 15px;
    font-size: 22px;
  }
  
  .saving_main .title li.on a {
    font-weight: bold;
    color: #262626;
  }
  
  .saving_main .tab_filter {
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    overflow: hidden;
  }
  
  .saving_main .tab_filter > div {
    width: 16.6%;
    display: inline-block;
    text-align: center;
    float: left;
  }
  
  .saving_main .tab_filter > div label {
    display: inline-block;
    height: 49px;
    width: 100%;
    background: #f2f2f7;
    border: 1px solid #e1e1ea;
    border-bottom: 1px solid #588db5;
    line-height: 47px;
    font-size: 16px;
    cursor: pointer;
    color: #777777;
  }
  
  .saving_main .tab_filter > div label img {
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .saving_main .tab_filter > div input:checked + label {
    border: 1px solid #588db5;
    font-weight: bold;
    background: #fff;
    border-color: #588db5;
    border-bottom: 1px solid #fff;
    color: #588db5;
  }
  
  .saving_main .tab_filter > div input:checked + label.img_label {
    color: #1c1c1c;
  }
  
  .saving_main .main_table {
    border-collapse: separate;
  }
  
  .saving_main .main_table th {
    background: #fff;
    padding: 15px 0 15px 0;
    font-size: 15px;
    color: #1c1c1c;
    border-bottom: 1px solid #999999;
  }
  
  .saving_main .main_table th:nth-of-type(1) {
    border-left: 1px solid #fff;
  }
  
  .saving_main .main_table th.gray {
    color: #b6b6b6;
    text-decoration: underline;
  }
  
  .saving_main .main_table th.term {
    cursor: pointer;
  }
  
  .saving_main .main_table th.active {
    border-left: 2px solid #27a2ff;
    border-top: 2px solid #27a2ff;
    padding-left: 10px;
  }
  
  .saving_main .main_table th.active ~ .active {
    border-left: none;
    padding-left: 0;
  }
  
  .saving_main .main_table th.active + .active + .active {
    border-right: 2px solid #27a2ff;
    padding-right: 10px;
  }
  
  .saving_main .main_table tr:last-child td {
    border-bottom: 1px solid #ddd;
  }
  
  .saving_main .main_table tr:last-child td.active {
    border-bottom: 2px solid #27a2ff;
  }
  
  .saving_main .main_table tr.no_map td {
    cursor: auto;
  }
  
  .saving_main .main_table td {
    padding: 16px 0;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #1c1c1c;
  }
  
  .saving_main .main_table td:nth-of-type(8) {
    text-align: left;
    padding-left: 15px;
    padding-right: 10px;
    color: #1c1c1c;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 140px;
  }
  
  .saving_main .main_table td:nth-of-type(9) {
    text-align: left;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 124px;
  }
  
  .saving_main .main_table td:last-child {
    border-right: 1px solid #fff;
    text-align: right;
    padding-right: 20px;
  }
  
  .saving_main .main_table td.gray {
    color: #b6b6b6;
  }
  
  .saving_main .main_table td.active {
    color: #d8205f;
    font-weight: 900;
    border-left: 2px solid #27a2ff;
    border-right: none;
    font-size: 16px;
    padding-left: 10px;
    width: 88px;
  }
  
  .saving_main .main_table td.active ~ .active {
    border-right: none;
    color: #1c1c1c;
    font-weight: 400;
    border-left: none;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
  
  .saving_main .main_table td.active + .active + .active {
    border-right: 2px solid #27a2ff;
    padding-right: 10px;
  }
  
  .saving_main .main_table td img {
    vertical-align: top;
    margin-right: 8px;
  }
  
  .saving_main .main_table tr:first-child td {
    background: #edf5fd;
    border-top: 1px solid #edf5fd;
  }
  
  .saving_main .main_table tr:first-child td:first-child {
    color: #588db5;
    font-weight: 900;
  }
  
  .saving_main .main_table tr:hover td {
    position: relative;
  }
  
  .saving_main .main_table tr:hover td:after {
    content: "";
    width: -moz-calc( 100% + 2px);
    width: calc( 100% + 2px);
    height: 1px;
    top: 0;
    left: -1px;
    position: absolute;
    background: #588db5;
  }
  
  .saving_main .main_table tr:hover td:before {
    content: "";
    width: -moz-calc( 100% + 2px);
    width: calc( 100% + 2px);
    height: 1px;
    bottom: 0;
    left: -1px;
    position: absolute;
    background: #588db5;
  }
  
  .saving_main .main_table tr:hover td:first-child {
    border-left: 1px solid #588db5;
  }
  
  .saving_main .main_table tr:hover td:last-child {
    border-right: 1px solid #588db5;
  }
  
  .saving_main .main_table tr:hover + tr td {
    border-top: none;
  }
  
  .saving_main .fix_header {
    padding-top: 20px;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 90px;
    background: #fff;
    z-index: 3;
  }
  
  .saving_main .fix_header .main_table {
    width: 947px;
  }
  
  .saving_main .fix_header th {
    padding: 18px 0 15px 0;
    border-bottom: 1px solid #999999;
  }
  
  .saving_main .fix_header th.active {
    border-top: 2px solid #27a2ff;
    position: relative;
    font-size: 15px;
  }
  
  .saving_main .fix_header.show {
    display: block;
    opacity: 1;
  }
  
  .saving_main .left_wrap {
    padding-top: 39px;
  }
  
  .saving_main .left_wrap .amount_area label {
    position: relative;
  }
  
  .saving_main .left_wrap .amount_area label .converted {
    position: absolute;
    right: 0;
    font-size: 13px;
    color: #588db5;
  }
  
  .saving_main .left_wrap .amount_area .input_box {
    position: relative;
  }
  
  .saving_main .left_wrap .amount_area .input_box:after {
    content: "원";
    position: absolute;
    right: 10px;
    bottom: 0;
    line-height: 44px;
  }
  
  .saving_main .left_wrap .amount_area input {
    padding-right: 30px;
  }
  
  .saving_main .left_wrap .tit {
    font-size: 15px;
    color: #588db5;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #588db5;
    margin-bottom: 30px;
  }
  
  .saving_main .left_wrap .tit strong {
    font-size: 18px;
    height: 28px;
    display: inline-block;
  }
  
  .saving_main .left_wrap.fixed {
    width: 213px;
    position: fixed;
    top: 90px;
    left: -moz-calc( 50% - 600px);
    left: calc( 50% - 600px);
    padding-top: 0;
    background: #fff;
  }
  
  @media (max-width: 1220px) {
    .saving_main .left_wrap.fixed {
      left: 0;
    }
  }
  
  .saving_main .left_wrap .input_box ~ .input_box {
    margin-top: 5px;
  }
  
  .saving_main .left_wrap .btn_wrap {
    display: block;
    text-align: right;
  }
  
  .saving_main .left_wrap .btn_wrap .mi_btn {
    margin: 20px 0 10px 0;
    width: 100%;
  }
  
  .saving_main .left_wrap .btn_wrap .btn_reset {
    text-align: right;
    text-decoration: underline;
    color: #588db5;
    font-size: 13px;
  }
  
  #map .map_info {
    padding: 16px 22px 45px 22px;
    -moz-border-radius: 5px;
         border-radius: 5px;
    position: relative;
    background: #fff;
    -moz-border-radius: 3px;
         border-radius: 3px;
    width: 329px;
    min-height: 183px;
    /* background: url("../images/bg_map.png") no-repeat bottom center/100%; */
    word-break: break-all;
    white-space: break-spaces;
  }
  
  #map .map_info .close_btn {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 26px;
    height: 26px;
    /* background: url("../images/btn_map_close.png") no-repeat center/contain; */
    text-indent: -99999px;
    overflow: hidden;
  }
  
  #map .map_info .conts {
    font-size: 12px;
    color: #555;
    margin-top: 8px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
  }
  
  #map .map_info .title {
    color: #0073c9;
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
  }
  
  #map .btm_info {
    padding-top: 11px;
    display: table;
    width: 100%;
  }
  
  #map .btm_info > span {
    display: table-cell;
    width: -moz-calc( 100% - 70px);
    width: calc( 100% - 70px);
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
  }
  
  #map .btm_info > span > p {
    background: #f5f5f5;
    color: #555555;
    font-size: 11px;
    padding: 2px 8px;
    display: inline-block;
    margin-top: 5px;
    font-weight: 400;
  }
  
  #map .btm_info > span > p:nth-of-type(1) {
    margin-right: 5px;
  }
  
  #map .btm_info > span:last-child {
    padding-left: 12px;
    color: #d8205f;
    width: 70px;
    text-align: right;
  }
  
  #mapInfo {
    position: relative;
  }
  
  #mapInfo .pagination {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
  }
  
  #mapInfo .multi_type {
    display: none;
  }
  
  #mapInfo .sigle_type {
    display: none;
    margin-top: -12px;
  }
  
  #mapInfo .sigle_type .join_channel,
  #mapInfo .sigle_type .payment_term {
    background: #f5f5f5;
    color: #555555;
    font-size: 11px;
    padding: 2px 8px;
    display: inline-block;
    margin-top: 5px;
    font-weight: 400;
  }
  
  #mapInfo .sigle_type .add {
    color: #777777;
    font-size: 12px;
    margin-top: 11px;
  }
  
  #mapInfo .sigle_type .join_channel {
    margin-right: 5px;
  }
  
  #mapInfo .sigle_type .bank {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #0073c9;
  }
  
  #mapInfo .sigle_type .addrNtel {
    padding-bottom: 40px;
    font-size: 14px;
  }
  
  #mapInfo .sigle_type .product {
    padding-top: 40px;
    border-top: 1px solid #ddd;
    font-weight: 900;
    color: #262626;
    font-size: 15px;
  }
  
  #mapInfo .sigle_type .product > span {
    display: inline-block;
    vertical-align: top;
  }
  
  #mapInfo .sigle_type .product .product_name {
    margin-right: 20px;
    max-width: -moz-calc( 100% - 70px);
    max-width: calc( 100% - 70px);
  }
  
  #mapInfo .sigle_type .rate {
    color: #d8205f;
  }
  
  /* 팝업 공통 */
  .mi_common_pop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 320px;
    padding: 0 16px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 99999;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .mobile .mi_common_pop {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media (max-width: 413px) {
    .mobile .mi_common_pop {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  
  @media (max-width: 374px) {
    .mobile .mi_common_pop {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  @media (max-width: 359px) {
    .mobile .mi_common_pop {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  .mi_common_pop .inner {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .mi_common_pop .pop_wrap {
    position: absolute;
    width: 100%;
    max-width: 448px;
    padding-bottom: 65px;
    background: #fff;
  }
  
  .mi_common_pop .pop_body {
    font-size: 16px;
    color: #333;
    position: relative;
    max-height: -moz-calc(100vh - 120px - 65px);
    max-height: calc(100vh - 120px - 65px);
    padding: 0 10px;
    overflow-y: auto;
  }
  
  .mi_common_pop .pop_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #fff;
  }
  
  .mi_common_pop .pop_bottom .mi_btn {
    height: 45px;
    line-height: 43px;
    font-size: 16px;
  }
  
  .mi_common_pop .pop_bottom .mi_btn + .mi_btn {
    margin-left: 7px;
  }
  
  .mi_common_pop .pop_title {
    padding: 18px 0 13px;
    font-size: 18px;
    font-weight: bold;
    color: #262626;
  }
  
  .mi_common_pop .btn_close {
    position: absolute;
    top: 6px;
    right: 0;
    width: 50px;
    height: 50px;
  }
  
  .mi_common_pop .btn_close::after, .mi_common_pop .btn_close::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 1px;
    margin-left: -7px;
    background-color: #626262;
  }
  
  .mi_common_pop .btn_close::after {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .mi_common_pop .btn_close::before {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .mi_common_pop .pop_contents {
    padding: 25px 0 20px;
  }
  
  .mi_common_pop.basic .pop_title {
    padding: 18px 0 13px;
    border-bottom: 1px solid #262626;
  }
  
  .mi_common_pop.basic .pop_contents {
    padding-top: 20px;
  }
  
  .mi_common_pop.info .pop_title {
    padding: 25px 10px 10px;
    font-size: 16px;
    font-weight: normal;
  }
  
  .mi_common_pop.info .pop_contents {
    font-size: 15px;
    color: #777;
    padding: 0 10px 10px;
    text-align: left;
  }
  
  .mi_common_pop.info .pop_bottom {
    padding: 0;
  }
  
  .mi_common_pop.info .pop_bottom .mi_btn {
    background-color: #f4f7fb;
    border-color: #f4f7fb;
    color: #588db5;
    font-size: 15px;
  }
  
  .mi_common_pop.form .pop_title {
    padding: 18px 20px 20px;
  }
  
  .mi_common_pop.form .pop_body,
  .mi_common_pop.form .pop_bottom {
    background: #f9f9f9;
  }
  
  .mi_common_pop.form .pop_contents {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .mi_common_pop.datepicker .pop_wrap {
    max-width: 335px;
    padding-bottom: 0;
    -moz-border-radius: 7px;
         border-radius: 7px;
    overflow: hidden;
  }
  
  .mi_common_pop.datepicker .pop_body {
    padding-bottom: 0;
  }
  
  .mi_common_pop.datepicker .btn_close {
    top: 2px;
  }
  
  .mi_common_pop.datepicker .pop_title {
    font-size: 16px;
    color: #0b1a5a;
    padding: 15px 20px 20px;
    background: #ecf0fa;
  }
  
  .mi_common_pop.datepicker .pop_contents {
    padding: 20px 0;
  }
  
  .mi_common_pop.select .pop_wrap {
    padding-bottom: 20px;
    -moz-border-radius: 7px;
         border-radius: 7px;
  }
  
  .mi_common_pop.select .pop_title {
    height: 40px;
  }
  
  .mi_common_pop.select .pop_body {
    padding: 0;
  }
  
  .desktop .mi_common_pop.select .pop_body {
    max-height: 600px;
  }
  
  .mi_common_pop.select .pop_contents {
    padding: 0 20px;
  }
  
  .mi_common_pop.select .select_title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #262626;
  }
  
  .mi_common_pop.select .check_group .text {
    font-size: 15px;
  }
  
  .mi_common_pop.select .check_group + .check_group {
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid #ddd;
  }
  
  .mi_common_pop.select.type2 .pop_contents {
    padding: 0;
  }
  
  .mi_common_pop.select.type2 .select_title {
    padding: 0 20px;
  }
  
  .mi_common_pop.select.type2 .mi_check {
    padding-left: 30px;
    padding-right: 18px;
  }
  
  .mi_common_pop .icon_box:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 12px;
    -moz-border-radius: 20px;
         border-radius: 20px;
  }
  
  .mi_common_pop .icon_box.success:before {
    /* background: #eee url("/images/ico_complete.png") no-repeat center 15px/19px auto; */
  }
  
  .mi_common_pop .icon_box.warning:before {
    /* background: #eee url("/images/ico_warning.png") no-repeat center/7px auto; */
  }
  
  #popKakaoMap {
    background: none;
  }
  
  #popKakaoMap .btn_close {
    z-index: 9;
  }
  
  #popKakaoMap .pop_wrap {
    border: solid 1px #707070;
    -moz-border-radius: 10px;
         border-radius: 10px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
    width: 1040px;
    max-width: none;
    overflow: hidden;
    padding-bottom: 0;
  }
  
  #popKakaoMap .pop_wrap .pop_body {
    padding: 0;
    overflow: hidden;
  }
  
  #popKakaoMap .pop_wrap .map {
    width: 600px;
    height: 590px;
    float: left;
    background-color: #f1f1f1;
  }
  
  #popKakaoMap .pop_wrap .map_list {
    width: -moz-calc( 100% - 600px);
    width: calc( 100% - 600px);
    height: 590px;
    float: left;
    border-left: 1px solid #707070;
    padding: 60px 30px;
  }
  
  #popKakaoMap .pop_wrap table {
    margin-bottom: 25px;
    border-top: 1px solid #ddd;
  }
  
  #popKakaoMap .pop_wrap table td {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    vertical-align: middle;
    cursor: pointer;
  }
  
  #popKakaoMap .pop_wrap table td:nth-of-type(1) {
    color: #0073c9;
    font-size: 18px;
    font-weight: 900;
  }
  
  #popKakaoMap .pop_wrap table td:nth-of-type(2) {
    color: #1c1c1c;
    font-size: 15px;
    font-weight: bold;
  }
  
  #popKakaoMap .pop_wrap table td:nth-of-type(2) span {
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
  }
  
  #popKakaoMap .pop_wrap table td:nth-of-type(3) {
    text-align: right;
    color: #d8205f;
    font-size: 15px;
    font-weight: bold;
  }
  
  #popKakaoMap .pop_wrap .caption {
    display: table;
    width: 100%;
  }
  
  #popKakaoMap .pop_wrap .caption > span {
    display: table-cell;
    width: 50%;
    font-size: 13px;
    color: #999;
    padding-bottom: 8px;
  }
  
  #popKakaoMap .pop_wrap .caption > span:last-child {
    text-align: right;
  }
  
  #popSavingInfo .btn_close {
    z-index: 9;
  }
  
  #popSavingInfo .pop_title {
    padding: 38px 0 18px 0;
    font-size: 20px;
    font-weight: 400;
  }
  
  #popSavingInfo .pop_wrap {
    border: solid 1px #707070;
    -moz-border-radius: 10px;
         border-radius: 10px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
    width: 1040px;
    max-width: none;
    overflow: hidden;
    padding-bottom: 0;
  }
  
  #popSavingInfo .pop_body {
    padding: 0 50px 50px 50px;
  }
  
  #popSavingInfo table td, #popSavingInfo table th {
    padding: 14px 0 14px 20px;
    border-left: 1px solid #efeff4;
    border-bottom: 1px solid #b6b6b6;
  }
  
  #popSavingInfo table tbody th {
    font-weight: 900;
    border-left: none;
    text-align: left;
  }
  
  #popSavingInfo table thead th {
    background: #5396bf;
    color: #fff;
    border-left: 1px solid #70a7c9;
    border-bottom: none;
  }
  </style>